<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<connectionStrings>
		<add connectionString="server=DESKTOP-NO7JJAD;database=ShanTest;uid=sa;pwd=123456" name="ConString"/>
	</connectionStrings>

</configuration>