
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div> 
        <form action="~/User/Edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id " />
            姓名：<input type="text" name="Name" value="@Model.Name" /><br />
            年龄：<input type="text" name="Age" value="@Model.Age" /><br />
            密码：<input type="text" name="Password" value="@Model.Password" /><br />
            <input type="submit" value="提交" />
        </form>
    </div>
</body>
</html>
