
@model System.Object
<form action="~/LoginByAjaxWithJson/Login" method="post">
    <input type="text" id="UserName" name="Name" /><div id="tip" style="display:none"></div><br />
    <input type="password" id="UserPwd" name="Pwd" />
    <input type="submit" id="btn" value="提交" />
</form>
<script src="~/Scripts/Login/Login2.js"></script>
<p>@ViewData["Time"]</p>
