<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- ...................................为Log4Net添加的配置.....开始.................................-->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<root>
			<level value="ALL"></level>
			<appender-ref ref="AdoNetAppender"></appender-ref>
		</root>

		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection,System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionStringName value="ConnectionStringLogging" />
			<commandText value="INSERT INTO Log4net ([Date],[Thread],[Level],[Logger],[Message],[Exception]) 
							    VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>
	</log4net>

	<!-- ...................................为Log4Net添加的配置.....开始.................................-->
	<!--实现日志分等级记录在不同的日志文件中-->
	<!--日志等级OFF > FATAL > ERROR > WARN > INFO > DEBUG  > ALL-->
	<!--<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<root>
			<level value="ALL"/>
			-->
	<!--在root节点中设置为记录日记的所有等级-->
	<!--
			<appender-ref ref="RollingFile"/>
			<appender-ref ref="RollingFileTracer"/>
		</root>

		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="App_Data/Log/" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Composite" />
			<param name="MaxSizeRollBackups" value="10" />
			<param name="MaximumFileSize" value="1MB" />
			<param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
			<param name="StaticLogFileName" value="false" />

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%-5p %t] [%date{yyyy-MM-dd HH:mm:ss,fff}] %-5logger - %m%n"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				-->
	<!--使用过滤器，过滤出WARN > INFO > DEBUG 等级并记录Logs_20200117.txt-->
	<!--
				<levelMin value="DEBUG" />
				<levelMax value="WARN" />
			</filter>
		</appender>

		<appender name="RollingFileTracer" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="App_Data/Log/" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Composite" />
			<param name="MaxSizeRollBackups" value="10" />
			<param name="MaximumFileSize" value="1MB" />
			<param name="DatePattern" value="&quot;Errors_&quot;yyyyMMdd&quot;.txt&quot;" />
			<param name="StaticLogFileName" value="false" />

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%p] %m%n"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				-->
	<!--使用过滤器，过滤出FATAL > ERROR等级并记录在Errors_20200117.txt（在程序中将抛异的日志记录为ERROR和FATAL等级）-->
	<!--
				<levelMin value="ERROR" />
				<levelMax value="FATAL" />
			</filter>
		</appender>

	</log4net>-->

	<!-- ...................................为Log4Net添加的配置.....结束.................................-->
</configuration>