
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
   
    <div>
        <form action="~/Person/Add" method="post">@*注意这里的表单对应的是[HttpPost]特性的Add()*@
            姓名：<input type="text" name="Name" /><br>
            年龄：<input type="text" name="Age" /><br>
            班级：<input type="text" name="ClassId" /><br>
            邮箱：<input type="text" name="Email" /><br>  
            <input type="submit" value="添加" />
        </form>
    </div>
</body>
</html>
