
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        alert("0")
        $(document).ready(function () {
            alert("success1")
            $.get("Show", function (data) {
                alert("success2")
                alert(data[0].id);
            });
        });

    </script>
</head>
<body>
    <div>
    </div>
</body>
</html>
