
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        /*根据选中的Sex，动态的拼接Name下拉列表*/
        $(document).ready(function () {
            $("#SEX").change(function () {
                var url = "/twolevel/GetName?sex=" + $("#SEX").val();//拼接get请求的URL，其实可以直接使用post请求
                $.getJSON(url, function (data) {
                    $("#NAME").html('');//清空现在的NAME下拉列表
                    $.each(data, function (i, item) {
                        //console.log(i);
                        //console.log(item);
                        $("#NAME").append($("<option></option>").val(item).html(item));
                    })
                })
            })
        })
    </script>
</head>
<body>
    <div>
        @ViewBag.Date
        性别：@Html.DropDownList("SEX", @ViewData["SEX"] as IEnumerable<SelectListItem>, "--Please Choose--")
        @*注意可以自己在浏览器中查看，使用HTML.DropDownList标签的默认id和name属性就是这里的第一个参数,这里是“SEX”*@

        名字：@Html.DropDownList("NAME", @ViewData["NAME"] as IEnumerable<SelectListItem>, "--Please Choose--")
    </div>
</body>
</html>
