
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JsonTest</title>
</head>
<body>
    <p>关于JsonTest</p>
    <div>
        
        <script type="text/javascript">
            @*var person = JSON.parse(@ViewBag.p);
            for (var i = 0; i < person.length; i++)
            {
                alert("姓名" + person[i]);
            }*@
        </script>
      
    </div>
</body>
</html>
