
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Refuse</title>
</head>
<body>
    <div> 
        请使用Chrome浏览器
    </div>
</body>
</html>
