
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <div>welcome everyone</div>
       <span>@ViewBag.mes;</span>
        <a href="~/Login/Login">点击登录</a>
    </div>
</body>
</html>
