@model Person 
<body>
    <div>
        <form action="~/LoginByAjax/Login" method="post">
            <input type="text" id="UserName" name="Name" />
            <input type="password" id="UserPwd" name="Pwd" />
            <input type="submit" id="btn" value="提交" />
        </form>
    </div>
</body>

