@model System.Object 
    <form action="~/LoginByAjax/Login" method="post">
        <input type="text" id="UserName" name="Name" />
        <input type="password" id="UserPwd" name="Pwd" />
        <input type="submit" id="btn" value="提交" />
    </form>
<script src="~/Scripts/Login/Login.js"></script>
<p>@ViewData["Time"]</p>

