
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $.ajax({
            url: "gettree",
            dataType: "Json",
            type: "post",
            success: function (data) {
                console.log(data);
            }
        })
    </script>
</head>
<body>
    <div>

    </div>
</body>
</html>
